@mixin directionMenuSpans {
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      transform: translateY(#{$i*3.5}rem);

      @media only screen and (max-width: 76.25em) {
        transform: translateY(#{$i*3.3}rem);
        
        &::before {
          content: '';
          position: absolute;
          bottom: 2%;
          left: 0;
          width: 100%;
          height: 2%;
          background: #fff;
        }
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #fff;
  padding: 1.5rem 2rem;
  align-items: center;
  z-index: 1000;

  &__menuicon {
    position: absolute;
    flex-direction: column;
    right: -13%;
    top: 7%;
    width: 19%;
    background: #fff;
    padding: 0 3px;
    display: none;

    @media only screen and (max-width: 76.25em) {
      display: flex;
    }

    & span {
      width: 100%;
      margin: .2rem 0;
      height: .5rem;
      padding: 1px;
      border-radius: 3rem;
    }

    & span:nth-child(1) {
      background: linear-gradient(to right bottom,rgba(63,0,255,1),rgba(255,77,0, 1));
    }

    & span:nth-child(2) {
      width: 70%;
      background: linear-gradient(to right bottom,rgba(0,70,255,1),rgba(190,0,255, 1))
    }

    & span:nth-child(3) {
      width: 60%;
      background: linear-gradient(to right bottom,rgba(0, 255, 88,1),rgba(27, 0, 255,1))
    }

    & span:nth-child(4) {
      width: 90%;
      background: linear-gradient(to right bottom,rgba(75, 255, 0,1),rgba(148, 0, 255,1))
    }

    & span:nth-child(5) {
      width: 85%;
      background: linear-gradient(to right bottom,rgba(255, 83, 0,1),rgba(255, 0, 153,1))
    }
  }

  @media only screen and (max-width: 77.5em) {
    padding: 1.5rem 1rem;
  }

  @media only screen and (max-width: 76.25em) {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: #fff;
    padding: 1.5rem 2rem;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    text-align: center;
    transform: translateX(-22rem);
    transition: all .2s;
    cursor: pointer;

    &:hover {  
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 63.75em) {
    width: 32%
  }

  @media only screen and (max-width: 57.75em) {
    width: 36%
  }

  & > div {
    margin-right: 4rem;

    @media only screen and (max-width: 92.3em) {
      margin-right: 2rem;
    }

    @media only screen and (max-width: 83em) {
      margin-right: 1rem;
    }

    @media only screen and (max-width: 76.25em) {
      margin: 1rem 0;
      width: 100%;
    }
  }

  &__range {
    position: relative;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;

    &--bar {
      width: 12rem;
      padding: .8rem 0;
      background: rgba(127, 140, 141,1.0);
      border-radius: 2rem;
      cursor: pointer;
    }

    &--handle {
      height: 2.5rem;
      width: 2.5rem;
      background: linear-gradient(to right, #302B63, #0F0C29);;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: .7rem;
      left: 0;
      margin-left: 10rem;
    }
  }

  &__svgs {
    justify-self: end;

    &--svg {
      height: 3.2rem;
      width: 3.2rem;
      margin: 0 1rem;
      cursor: pointer;
      fill: #302B63;
    }
  }

  &--name {
    font-size: 2rem;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to right, #302B63, #0F0C29);
    -webkit-background-clip: text;
    background-clip: text;
  }

  &--btn-tweet {
    &,
    &:link,
    &:visited {
      outline: none;
      justify-self: end;
      background: #03A9F4;
      padding: .7rem 3rem;
      font-weight: 900;
      color: #fff;
      font-size: 1.3rem;
      cursor: pointer;
      transition: all .2s;

      
    }
  }

  &--btn-tweet-btnposition {
    position: absolute;
    right: 0;

    @media only screen and (max-width: 76.25em) {
      position: relative;
    }
  }

  &--btn-generate {
    &,
    &:link,
    &:visited {
      background: linear-gradient(to right, #302B63, #0F0C29);
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000000,.2);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(#000000,.2);
    }
  }

  &__gradient--direction {
    position: relative;
    width: 15rem;
    outline: none;
    padding: .7rem 1rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .2s;
    background: #000000;
    text-transform: uppercase;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    @media only screen and (max-width: 76.5em) {
      width: 12rem;
      padding: .7rem;
    }

    &:hover {
      & span {
        @include directionMenuSpans;
      }

      & .header__gradient--direction-menu {
        height: 30rem;
        width: 100%;
        bottom: -30rem;
        opacity: 1;
        background: transparent;

        @media only screen and (max-width: 76.25em) {
          height: 30rem;
          bottom: -30rem;
        }
      }

      & .header__gradient--direction-menu-opacity {
        height: 10rem;
        width: 100%;
        bottom: -10rem;
      }
    }

    &-menu {
      position: absolute;
      bottom: 40rem;
      left: 0;
      height: 0;
      width: 0;
      transform: translateY(-3rem);
      z-index: -2;
      color: #fff;

      @media only screen and (max-width: 76.25em) {
        bottom: 0;
        z-index: 4000;
        width: 100%;
        transform: translateY(-2.5rem);
        opacity: 0;
      }

      & span {
        transition: all .2s;
      }

      &:hover {
        width: 100%;
        bottom: 0rem;
        opacity: 1;

        & span {
          @include directionMenuSpans;
        }
      }
    }

    &-span {
      display: block;
      background: #000000;
      padding: .6rem 1rem;
      cursor: pointer;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
    }
  }

  &__gradient--direction-inputparent {
      width: 4%;
      height: 3rem;

      &-input {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        outline: none;
        padding: 1.5rem .5;
        border-radius: 2px;
        background-color: rbga(#fff, .5);
        border: 1px solid #D81B60;
        border-bottom: 3px solid #D81B60;
        display: block;
        transition: all .3s;
      }
  }

  &__gradient--opacity {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 76.25em) {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }

    &-label {
      margin-right: 1rem;
      font-weight: 900;
    }
  }
}